body{
    font-family: Roboto,arial,sans-serif;
    background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
}

.weather-app{
    padding: 20px;
    border: 1px solid #49494b;
    border-radius: 5px;
}

h1{
    color: #db7878;
    font-size: 19px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 16px;
    color: #70757a;
    font-weight: normal;
    font-weight: normal;
}

li::first-letter{
     text-transform: capitalize; 
}

em{
    color: rgb(130, 42, 157);
}

.weather-app-wrapper{
     max-width: 600px;
    margin: 30px auto;
}

.overview{
    margin-bottom: 20px;
}

.weather-temperature img{
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong{
    color: #202124;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
}

.weather-temperature .units{
    position: relative;
    font-size: 16px;
    top: -31px;
}

.weather-temperature .active{
    color: #202124;
    cursor: default;
       text-decoration: none;
}

.weather-forecast{
    margin-top: 19px;
    text-align: center;
}

.weather-forecast-date{
     font-size: 13px;
     opacity: 0.6;
     color: #db7878;
}

.weather-forecast-temperature-min{
opacity: 0.6;
}